<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded Content</title>
</head>
<body>
  <h1>Embedded PDF</h1>
  <iframe src="./youtube-transcripts/POWERFUL MOTIVATIONAL SPEECH - By Sandeep Maheshwari  Latest Video 2020  Hindi.mp3.txt.pdf" width="50%" height="500px"></iframe>
</body>
</html>
